@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

:root {
  --perspectivOriginY: 25%;
}

body {
  font-family: "Anton", sans-serif;
  background-color: #151515;
  color: #aaa;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wireframe {
  &_input {
    position: fixed;
    top: -100%;
    left: -100%;
    visibility: hidden;

    &:checked {
      & + .wireframe_label {
        color: chartreuse;
        &::before {
          background-color: chartreuse;
        }
      }

      & ~ .towerOuter > .tower > .card,
      & ~ .towerOuter > .tower > .card::after {
        background-image: unset;
        box-shadow: 0 0 1px 1px #fff inset;
      }
    }
  }

  &_label {
    position: fixed;
    top: 0%;
    left: 0%;
    font-size: 20px;
    padding: 0.5em;
    z-index: 3;
    transition: color 0.25s;

    &::before {
      content: "";
      display: inline-block;
      width: 0.75em;
      height: 0.75em;
      margin-right: 0.25em;
      background-color: maroon;
      border-radius: 0.25em;
      border: 2px solid #aaa;
      transition: background-color 0.25s;
    }
  }
}

.hoverPad {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 10%;

  &:nth-child(3) { top: 0%; }
  &:nth-child(4) { top: 10%; }
  &:nth-child(5) { top: 20%; }
  &:nth-child(6) { top: 30%; }
  &:nth-child(7) { top: 40%; }
  &:nth-child(8) { top: 50%; }
  &:nth-child(9) { top: 60%; }
  &:nth-child(10) { top: 70%; }
  &:nth-child(11) { top: 80%; }
  &:nth-child(12) { top: 90%; }
  
  &:nth-child(3):hover ~ .towerOuter { --perspectivOriginY: 15%; }
  &:nth-child(4):hover ~ .towerOuter { --perspectivOriginY: 20%; }
  &:nth-child(5):hover ~ .towerOuter { --perspectivOriginY: 25%; }
  &:nth-child(6):hover ~ .towerOuter { --perspectivOriginY: 30%; }
  &:nth-child(7):hover ~ .towerOuter { --perspectivOriginY: 35%; }
  &:nth-child(8):hover ~ .towerOuter { --perspectivOriginY: 40%; }
  &:nth-child(9):hover ~ .towerOuter { --perspectivOriginY: 45%; }
  &:nth-child(10):hover ~ .towerOuter { --perspectivOriginY: 50%; }
  &:nth-child(11):hover ~ .towerOuter { --perspectivOriginY: 55%; }
  &:nth-child(12):hover ~ .towerOuter { --perspectivOriginY: 60%; }
}

// card vars:
$towerRadius: 210;
$cardWidth: 50;
$cardHeight: 70;
$ringHeight: 33;

.towerOuter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  perspective: 700px;
  perspective-origin: center var(--perspectivOriginY);
  transition: perspective-origin 0.25s;
}

.tower {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $cardWidth + px;
  transform-style: preserve-3d;
  animation: towerRotate 60s infinite linear;

  @keyframes towerRotate {
    from {
      transform: translateX(-50%) rotateY(0deg);
    }
    to {
      transform: translateX(-50%) rotateY(360deg);
    }
  }
}

.card {
  position: absolute;
  width: $cardWidth + px;
  height: $cardHeight + px;
  background-image: url("../cardsheet04.png");
  background-size: #{$cardWidth * 13}px #{$cardHeight * 4}px;
  border-radius: 8px;
  transform-style: preserve-3d;
  box-shadow: 0 0 10px #0007 inset;
  backface-visibility: hidden;

  // Only three card values: King(13), Jack(11), Ace(1)
  @for $r from 0 through 2 {
    @for $i from 1 through 24 {
      $cardValue: 0;
      $suitValue: 0;
      
      // Determine card value based on position
      @if $i % 3 == 1 {
        $cardValue: 13; // King (value 13, position 0 in sprite sheet)
      } @else if $i % 3 == 2 {
        $cardValue: 16; // Jack (value 11, position 10 in sprite sheet)
      } @else {
        $cardValue: 1; // Ace (value 1, position 12 in sprite sheet)
      }
      
      // Assign suits in sequence: Hearts, Diamonds, Clubs, Spades
      $suitValue: ($i % 4);
      
      &:nth-child(#{$i + $r*72}) {
        background-position: #{$cardValue * $cardWidth}px #{$suitValue * $cardHeight}px;
        transform: rotateY(#{($i - 1 + $r * 0.5) * 360 / 24}deg)
          translateX(#{$towerRadius}px)
          translateY(#{($r - 1.5) * ($ringHeight * 2)}px)
          rotateX(-20deg);
      }
      &:nth-child(#{$i + 24 + $r*72}) {
        background-position: #{$cardValue * $cardWidth}px #{$suitValue * $cardHeight}px;
        transform: rotateY(#{($i - 24.5 + $r * 0.5) * 360 / 24}deg)
          translateX(#{$towerRadius}px)
          translateY(#{($r - 1.5) * ($ringHeight * 2)}px)
          rotateX(200deg);
      }
      &:nth-child(#{$i + 48 + $r*72}) {
        background-position: #{$cardValue * $cardWidth}px #{$suitValue * $cardHeight}px;
        transform: rotateY(#{($i - 48.75 + $r * 0.5) * 360 / 24}deg)
          translateX(#{$towerRadius}px)
          translateY(#{($r - 2) * ($ringHeight * 2)}px)
          rotateX(-90deg);
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: $cardWidth + px;
    height: $cardHeight + px;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-image: url("../cardHackmate2.png");
    background-size: #{$cardWidth}px #{$cardHeight}px;
    border: 1px solid #fff7;
    border-radius: 8px;
  }
}

.shadow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(-90deg)
    translateZ(#{($ringHeight * 3) + 5}px);
  width: #{$towerRadius * 3}px;
  height: #{$towerRadius * 3}px;
  background-image: radial-gradient(
    #0000,
    #000 #{$towerRadius}px,
    #0000 #{$towerRadius * 1.5}px
  );
}