@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

/* Custom scrollbar for slider */
.slider {
  scroll-behavior: smooth;
  perspective: 1px;
  transform-style: preserve-3d;
  scroll-snap-type: y mandatory;
}

.slide {
  scroll-snap-align: start;
  transform-style: preserve-3d;
}

.slide-1 .parallax {
  transform: translateZ(-1px) scale(1);
}

.slide-4 .parallax {
  transform: translateZ(-1px) scale(-1, 1) rotate(-15deg);
}

/* Hamburger animation */
.ham path {
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
}

.ham .top {
  stroke-dasharray: 40 172;
}

.ham .middle {
  stroke-dasharray: 40 111;
}

.ham .bottom {
  stroke-dasharray: 40 172;
}

.ham.active .top {
  stroke-dashoffset: -132px;
}

.ham.active .middle {
  stroke-dashoffset: -71px;
}

.ham.active .bottom {
  stroke-dashoffset: -132px;
}

/* Custom text shadow */
.text-shadow-md {
  text-shadow: 2px -1px 6px rgba(60, 64, 83, 0.8);
}

/* For the writing mode */
.writing-mode-vertical-lr {
  writing-mode: vertical-lr;
}